<div class="container">
  <div class="Username">
    <img
      src="../../../images/Profilepictures/TonyMonta.svg"
      alt="Profilepicture"
    />
    <article><strong>Tony Monta</strong></article>
    <article class="minutes">1h ago</article>
  </div>
  <p class="text">Writing Code is not bad</p>
  <div class="iconcontainer">
    <div class="iconss">
      <div class="posticon">
        <img src="../../../images/Icons/Like.svg" alt="Likebutton" />
        <article>14</article>
        <img src="../../../images/Icons/Comment.svg" alt="Commentbutton" />

        <img src="../../../images/Icons/Share.svg" alt="Sharebutton" />
      </div>
      <div class="markbook">
        <img src="../../../images/Icons/Bookmark.svg" alt="Bookmarkbutton" />
      </div>
    </div>
  </div>
</div>
