<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stories.css" />
    <title>Document</title>
  </head>
  <body>
    <article class="stories-main-container">
        <div class="story-container">
            <img src="" alt="" />
            <div class="profile-photo-container">
                <div class="profile-photo"></div>
            </div>
          </div>
          <div class="story-container">
            <img src="" alt="" />
            <div class="profile-photo-container">
                <div class="profile-photo"></div>
            </div>        <div class="story-container">
                <img src="" alt="" />
                <div class="profile-photo-container">
                    <div class="profile-photo"></div>
                </div>
    </article>
  </body>
</html>
