<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/jacob-washington.css" />
  </head>
  <body>
    <div class="container">
      <div class="Username">
        <img
          src="../../../images/Profilepictures/JacobWashington.svg"
          alt="Profilepicture"
        />
        <article><strong>Jacob Washington</strong></article>
        <article class="minutes">20m ago</article>
      </div>
      <p class="text">
        "If you think you are too small to make a difference, try sleeping with
        a mosquito."
      </p>
      <p>~ Dalei Lama</p>
      <div class="icons">
        <img src="../../../images/Icons/Like.svg" alt="Likebutton" />
        <article>2,245</article>
        <img src="../../../images/Icons/Comment.svg" alt="Commentbutton" />
        <article>45</article>
        <img src="../../../images/Icons/Share.svg" alt="Sharebutton" />
        <article>124</article>
        <img src="../../../images/Icons/Bookmark.svg" alt="Bookmarkbutton" />
      </div>
    </div>
  </body>
</html>
