<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/jacob-washington.css" />
  </head>
  <body>
    <div class="container">
      <div class="post">
        <h2>Jacob Washington</h2>
        <p class="text">
          "If you think you are too small to make a difference, try sleeping
          with a mosquito." ~ Dalei Lama
        </p>
      </div>
    </div>
  </body>
</html>
