<footer>
  <div class="frame4">
    <div class="Feed">
      <img class="Icon/Feed" src="images/" alt="Buttom Feed" />
    </div>
    <div class="Search">
      <img class="Icon/Search" src="images/" alt="Button Search" />
    </div>

    <div class="Create">
      <img class="Icon/Create" src="images/" alt="Button create" />
    </div>

    <div class="Alert">
      <img class="Icon/Alert" src="images/" alt="Button Alert" />
    </div>

    <div class="Profile">
      <img class="project1-pic" src="images/" alt="study1" />
    </div>
  </div>
</footer>
