<footer>
  <div class="frame4">
    <div class="feed">
      <div class="icon-feed">
        <img
          class="vector"
          src="../../images/Icons/Feed.svg"
          alt="Buttom Feed"
        />
      </div>
    </div>

    <div class="search">
      <img
        class="icon-search"
        src="../../images/Icons/Search.svg"
        alt="Button Search"
      />
    </div>

    <div class="create">
      <img
        class="icon-create"
        src="../../images/Icons/Vector.svg"
        alt="Button create"
      />
    </div>

    <div class="alert">
      <img
        class="icon-alert"
        src="../../images/Icons/Alert.svg"
        alt="Button Alert"
      />
    </div>

    <div class="profile">
      <img
        class="icon-profile"
        src="../../images/Icons/Profile.svg"
        alt="Button Profile"
      />
    </div>
  </div>
</footer>
