footer {
  position: absolute;
  width: 375px;
  height: 88px;
  left: 0px;
  top: 724px;
  background-color: black;

  mix-blend-mode: normal;
}

.frame4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 328px;
  height: 40px;
  left: 24px;
  top: 16px;
  background-color: #f72e8e;
}

footer .frame4 .feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 32px;
}

footer .frame4 .feed .icon-feed {
  position: static;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

footer .frame4 .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: static;
  width: 40px;
  height: 40px;
  left: 72px;
  top: 0px;

  opacity: 0.5;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 32px;
}

/* footer .frame4 .search .icon-search {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
} */

footer .frame4 .create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: static;
  width: 40px;
  height: 40px;
  left: 144px;
  top: 0px;

  /* Primary/Gradient */
  background: linear-gradient(90deg, #f72e8e 0%, #ac1af0 102.84%);
  border-radius: 32px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 32px;
}

.frame4 .create .icon-create {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;

  /* Primary / White */
  border: 3px solid #ffffff;
}

footer .frame4 .alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: static;
  width: 40px;
  height: 40px;
  left: 216px;
  top: 0px;

  opacity: 0.5;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 32px;
}

/* footer.frame4 .alert .icon-alert {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 12.5%;
  bottom: 12.5%; */

/* Primary / White */
/* border: 2px solid #ffffff;
} */

footer .frame4 .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: static;
  width: 40px;
  height: 40px;
  left: 288px;
  top: 0px;

  opacity: 0.5;

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 32px;
}

/* footer .frame4 .profile .icon-profile {
  position: absolute;
  left: 16.67%;
  right: 15.45%;
  top: 20.83%;
  bottom: 20.83%; */

/* Primary / White */
/* border: 2px solid #ffffff;
} */
