<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="Username">
        <img
          src="../../../images/Profilepictures/KatWilliams.svg"
          alt="Profilepicture"
        />
        <article><strong>Kat Williams</strong></article>
        <article class="minutes">1h ago</article>
      </div>
      <div class="post-big-pictures-container">
        <div class="post-big-picture">
          <img class="big-picture" src="/images/ImagesBig/carousel.png" alt="" />
        </div>
      </div>
      <div class="iconss">
        <img src="../../../images/Icons/Like.svg" alt="Likebutton" />
        <article>8,998</article>
        <img src="../../../images/Icons/Comment.svg" alt="Commentbutton" />
        <article>145</article>
        <img src="../../../images/Icons/Share.svg" alt="Sharebutton" />
        <article>12</article>
        <img src="../../../images/Icons/Bookmark.svg" alt="Bookmarkbutton" />
      </div>
    </div>
  </body>
</html>
